/*styles first heading*/
h1{
    /*centers the text*/
    text-align: center;
}

/*styles second heading*/
h2{
    /*centers the text*/
    text-align: center;
}

/*styles body*/
body{
    /*sets the height*/
    height: 100%;
    /*sets the width*/
    width: 100%;
    /*sets the margin*/
    margin: 0;
    /*sets the padding*/
    padding: 0;
    /*sets background color to purple*/
    background-color: rgb(206, 179, 231);
    /*changes font*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*centers the text*/
    text-align: center;
}

/*Styles footer*/
footer{
    /*centers the text*/
    text-align: center;
    /*sets the position*/
    position: fixed;
    /*anchors footer to bottom of the page*/
    bottom: 0;
    /*sets the width*/
    width: 100%;
    /*adjusts the hight*/
    height: 100px;
}